html {
  /*background-image: ;*/
    background-image: url(backgroundwedding.jpg);
    background-color: #FAF9F6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100%;
}
h1 {
    margin: 0px;
    font-family: Baskerville, 'Times New Roman', Times, serif, Georgia;
    font-weight: lighter;
    font-size: 52px;
    text-align: center;
    color: black;
    letter-spacing: 1px;
}
.title {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.map {
    margin: auto;
    font-family: Baskerville, 'Times New Roman', Times, serif, Georgia;
    font-size: 18px;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
h2 {
    font-family: Baskerville, 'Times New Roman', Times, serif, Georgia;
    font-weight: lighter;
    padding-top: 40px;
    font-size: 48;
    text-align: center;
}
p {
    font-family: Baskerville, 'Times New Roman', Times, serif, Georgia;
    font-weight: lighter;
    padding-top: 0px;
    font-size: 20px;
    text-align: center;
}
#wedding {
    font-size: 36px;
    letter-spacing: 1px;
}
#amp {
    font-size: 36px;
    letter-spacing: 1px;
}
.navul {
    list-style-type: none;
    display: block;
    float: center;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0);
  }
  .navli {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: lighter;
    font-family: Baskerville, 'Times New Roman', Times, serif, Georgia;
    padding: 4px 6px;
    text-decoration: none;
    display: inline-block; 
  }
  
  .navli a:hover {
    background-color: rgba(255, 255, 255, 0);
    color:rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 40px;
    padding-right: 40px;
  }
  .navli a {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: lighter;
    font-family: Baskerville, 'Times New Roman', Times, serif, Georgia;
    padding: 4px 6px;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #faf9f600;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }
  #accomodationlist {
    text-align: center;
    display: inline;
    list-style: none;
  }
  .content-title {
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-left: 25%;
    margin-right: 25%;
  }
  article {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
  }